<form (ngSubmit)="onSubmitForm()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{isEdit ? 'Change' : 'Add'}} Note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="content" class="col-form-label">Note Content:</label>
                    <textarea class="form-control" id="content" [(ngModel)]="note" name="addNote"></textarea>
                </div>
                <div class="container" *ngIf="spellingCheckResults != null">
                    <p><b>Spelling check results</b></p>
                    <span>Possible issues found: {{spellingCheckResults.matches.length}}</span>
                    <ul *ngFor="let match of spellingCheckResults.matches">
                        <li>{{match.message}}
                            <ul *ngFor="let replacement of match.replacements">
                                <li>{{replacement.value}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Convert
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="toUpper()">To upper</a>
                        <a class="dropdown-item" (click)="toLower()">To lower</a>
                        <a class="dropdown-item" (click)="toCapitalized()">Capitalize</a>
                        <a class="dropdown-item" (click)="toLeet()">1337</a>
                    </div>
                </div>
                <button type="button" class="btn btn-success" (click)="checkSpelling(note)">Check spelling</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
