<div class="container">
<div  class="col mt-3">
  <div class="myPollCard card shadow-lg">
    <div class="card-body">
      <h3 class="card-title mb-3">Testnote</h3>

      <div class="row">
        <div class="col">
          <p class="card-text"> Test</p>
        </div>
      </div>
       <div  class="row mx-1 mt-3"><button data-toggle="modal" class="btn btn-primary" data-target="#EditNoteModal">Edit note</button> <button style="margin-left: 10px;" class="btn btn-danger" (click)="removeNote()">Remove note</button></div>
    </div>
  </div>
</div>
  <div  class="col mt-3">
    <div class="myPollCard card shadow-lg">
      <div class="card-body">
        <h3 class="card-title mb-3">Testnote2</h3>

        <div class="row">
          <div class="col">
            <p class="card-text">Test2</p>
          </div>
        </div>
        <div  class="row mx-1 mt-3"><button data-toggle="modal" class="btn btn-primary" data-target="#EditNoteModal">Edit note</button> <button style="margin-left: 10px;" class="btn btn-danger" (click)="removeNote()">Remove note</button></div>
      </div>
    </div>
  </div>
  <button id="myAddButton" data-toggle="modal" class="btn btn-primary" data-target="#NoteModal">Add Note</button>
</div>



<div class="modal fade" id="NoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="content" class="col-form-label">Content:</label>
            <textarea class="form-control" id="content"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add Note</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EditNoteModal" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label">Edit Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="title" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="editTitle">
          </div>
          <div class="form-group">
            <label for="content" class="col-form-label">Content:</label>
            <textarea class="form-control" id="editContent"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Edit note</button>
      </div>
    </div>
  </div>
</div>
