<nav class="navbar navbar-expand-lg navbar-dark text-black-50 groen">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-left">
      <li>
        <a class="nav-link active" routerLink="/" routerLinkActive="active"><img src="../assets/resources/logo.png" /> </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right" *ngIf="loggedIn; else notLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout" routerLinkActive="active" (click)="logOut()">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Dashboard</a>
      </li>
    </ul>
    <ng-template #notLoggedIn>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </ng-template>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class=" fixed-bottom page-footer font-small groen" *ngIf="!loggedIn">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <h5 class="mb-1">Register for free</h5>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-outline-success" (click)="toLogin()">Sign up!</button>
      </li>
    </ul>
    <!-- Call to action -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    Team 2 Java
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
