<div class="container pt-5 " style="width:35%;">
  <div class="card border-light mb-3">
    <div class="card-body">
      <h2 class="card-title">Sign in:</h2>
      <p>{{ model | json}}</p>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">email:</label>
          <input type="text" class="form-control" id="username" placeholder="email" [(ngModel)]="model.email" name="username"/>
        </div>

        <div class="form-group">
          <label for="password">password:</label>
          <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="model.password" name="password">
        </div>

        <button type="submit" class="btn btn-success kleur mt-2" style="color:#FFFFFF">Sign in</button>
      </form>
      <div *ngIf="error">{{errorMessage}}</div>
    </div>
  </div>

</div>
