/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}

.groen
{
  background-color: #b9faca;
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

.kleur
{
  background-color: #00FF7D;
}
